:root {
  --text-color: #626262;
  --accent-color: #b4ad9e;
  --heading-color: #03a9f4;
  --background-color: #ffffff;
  --header-color: #7d7d7d;
}

body {
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
}

.image1 {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 148px;
  top: 182px;
}

.image2 {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 633px;
  top: 182px;
}

.image3 {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 147px;
  top: 858px;
}
.image4 {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 633px;
  top: 858px;
}
.image5 {
  position: absolute;
  width: 420px;
  height: 280px;
  left: 149px;
  top: 1500px;
}
.image6 {
  position: absolute;
  width: 419px;
  height: 280px;
  left: 633px;
  top: 1504px;
}
h6 {
  color: #b4ad9e;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  cursor: pointer;
  color: var(--heading-color);
}

.lifestyle {
  color: var(--heading-color);
  position: absolute;
  width: 71px;
  height: 19px;
  left: 315px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.photodiary {
  color: var(--header-color);
  position: absolute;
  width: 89px;
  height: 19px;
  left: 485px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.music {
  color: var(--header-color);
  position: absolute;
  width: 44px;
  height: 19px;
  left: 674px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.travel {
  color: var(--header-color);
  position: absolute;
  width: 52px;
  height: 19px;
  left: 818px;
  top: 71px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.lifestyle1 {
  color: var(--accent-color);
  position: absolute;
  width: 64px;
  height: 16px;
  left: 148px;
  top: 524px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.lifestyle2 {
  color: var(--accent-color);
  position: absolute;
  width: 64px;
  height: 16px;
  left: 633px;
  top: 524px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.lifestyle3 {
  color: var(--accent-color);
  position: absolute;
  width: 86px;
  height: 16px;
  left: 148px;
  top: 1170px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.lifestyle4 {
  color: var(--accent-color);
  position: absolute;
  width: 86px;
  height: 16px;
  left: 633px;
  top: 1170px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.lifestyle5 {
  color: var(--accent-color);
  position: absolute;
  width: 64px;
  height: 16px;
  left: 149px;
  top: 1812px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.lifestyle6 {
  color: var(--accent-color);
  position: absolute;
  width: 64px;
  height: 16px;
  left: 632px;
  top: 1816px;

  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.h21 {
  position: absolute;
  width: 408px;
  height: 40px;
  left: 148px;
  top: 572px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.h22 {
  position: absolute;
  width: 379px;
  height: 40px;
  left: 633px;
  top: 572px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.h23 {
  position: absolute;
  width: 225px;
  height: 40px;
  left: 148px;
  top: 1218px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.h24 {
  position: absolute;
  width: 324px;
  height: 40px;
  left: 633px;
  top: 1218px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.h25 {
  position: absolute;
  width: 321px;
  height: 40px;
  left: 149px;
  top: 1860px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.h26 {
  position: absolute;
  width: 226px;
  height: 40px;
  left: 632px;
  top: 1864px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.p1 {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 148px;
  top: 652px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.p2 {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 633px;
  top: 652px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.p3 {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 148px;
  top: 1298px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.p4 {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 0px;
  top: 75px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.p5 {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 149px;
  top: 1948px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.p6 {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 632px;
  top: 1944px;

  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.button {
  position: absolute;
  width: 165px;
  height: 60px;
  left: 506px;
  top: 2110px;
}
